<link rel="apple-touch-icon" sizes="180x180" href="/ci/favicons/apple-touch-icon.png?v=5AeQRMp84P">
<link rel="icon" type="image/png" sizes="32x32" href="/ci/favicons/favicon-32x32.png?v=5AeQRMp84P">
<link rel="icon" type="image/png" sizes="194x194" href="/ci/favicons/favicon-194x194.png?v=5AeQRMp84P">
<link rel="icon" type="image/png" sizes="192x192" href="/ci/favicons/android-chrome-192x192.png?v=5AeQRMp84P">
<link rel="icon" type="image/png" sizes="16x16" href="/ci/favicons/favicon-16x16.png?v=5AeQRMp84P">
<link rel="manifest" href="/ci/favicons/site.webmanifest?v=5AeQRMp84P">
<link rel="mask-icon" href="/ci/favicons/safari-pinned-tab.svg?v=5AeQRMp84P" color="#ff7700">
<link rel="shortcut icon" href="/ci/favicons/favicon.ico?v=5AeQRMp84P">
<meta name="apple-mobile-web-app-title" content="David's Neighbour">
<meta name="application-name" content="David's Neighbour">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/ci/favicons/mstile-144x144.png?v=5AeQRMp84P">
<meta name="msapplication-config" content="/ci/favicons/browserconfig.xml?v=5AeQRMp84P">
<meta name="theme-color" content="#ffffff">