<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ partial "head.html" . }}
    {{ block "schema" . }}{{ end }}
    {{ partialCached "head/head-bottom" . $.Lang }}
  </head>
  <body id="davids-neighbour-com">
    {{ partial "body-top.html" . }}
    <div id="content" class="container">
      <div id="contentcolumn" class="row">
        <div class="col-12">
           {{ block "main" . }}{{ end }}
        </div>
      </div>
    </div>
    {{ partial "body-bottom.html" . }}
  </body>
</html>
