<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
    {{ block "schema" . }}{{ end }}
  </head>
  <body id="davids-neighbour-com">

    {{ partial "body-top.html" . }}

    {{ block "header" . }}
    {{ if (ne .Site.Params.header_visible false) }}
    <header class="blog-header">
      <div class="container">
        <h1 class="blog-title" dir="auto"><a href="{{ .Site.BaseURL }}" rel="home">{{ .Site.Title | safeHTML }}</a></h1>
        {{ if .Site.Params.description }}<p class="lead blog-description" dir="auto">{{ .Site.Params.description | markdownify }}</p>{{ end }}
      </div>
    </header>
    {{ end }}
    {{ end }}

    {{ block "body" . }}
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          {{ block "main" . }}{{ end }}
        </div>
        {{ partial "sidebar.html" . }}
      </div>
    </div>
    {{ end }}

    {{ block "footer" . }}
    <footer class="blog-footer">
      <p dir="auto">
      {{ if .Site.Copyright }}
      {{ .Site.Copyright | markdownify }}
      {{ else }}
      
      {{ end }}
      </p>
    </footer>
    {{ end }}

    {{ partial "body-bottom.html" . }}
  </body>

</html>
