<footer>
  <div class="meta">
    <div class="row">

      <div class="col-md-6">
      <i class="fas fa-pencil-alt" aria-hidden="true"></i>
      Von <address class="vcard author post-author"> <span
      class="fn"> <a href="https://kollitsch.de" title="Website von Patrick Kollitsch
      besuchen" rel="author external">Patrick Kollitsch</a> </span>
       </address>
      </div>
      <div class="col-md-6 text-sm-left text-xs-left text-md-right">
      {{ with .Params.showcomments }}
        <i class="fas fa-comments" aria-hidden="true"></i>
        <a href="https://samui-samui.de/2017/10/entscheidung-thai-style/#disqus_thread"
      data-disqus-identifier="4855 https://samui-samui.de/?p=4855">0 Kommentare</a>
      {{ end }}
      </div>

    </div>
  </div>
</footer>
